In [1]:
import xgboost

ModuleNotFoundError: No module named 'xgboost'

In [2]:
!pip install xgboost

Collecting xgboost
  Downloading xgboost-1.5.2-py3-none-win_amd64.whl (106.6 MB)
Requirement already satisfied: scipy in d:\programdata\anaconda3\lib\site-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in d:\programdata\anaconda3\lib\site-packages (from xgboost) (1.18.1)
Installing collected packages: xgboost
Successfully installed xgboost-1.5.2

In [3]:
import xgboost

In [4]:
dir(xgboost)

['Booster',
 'DMatrix',
 'DataIter',
 'DeviceQuantileDMatrix',
 'RabitTracker',
 'VERSION_FILE',
 'XGBClassifier',
 'XGBModel',
 'XGBRFClassifier',
 'XGBRFRegressor',
 'XGBRanker',
 'XGBRegressor',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 'callback',
 'compat',
 'config',
 'config_context',
 'core',
 'cv',
 'dask',
 'data',
 'f',
 'get_config',
 'libpath',
 'os',
 'plot_importance',
 'plot_tree',
 'plotting',
 'rabit',
 'set_config',
 'sklearn',
 'to_graphviz',
 'tracker',
 'train',
 'training']

In [15]:
import pandas as pd
x_train = pd.read_csv("https://raw.githubusercontent.com/7ieon/bigData/main/x_train.csv", encoding='euc-kr') #cp949
x_test = pd.read_csv("https://raw.githubusercontent.com/7ieon/bigData/main/x_test.csv", encoding='euc-kr')
y_train = pd.read_csv("https://raw.githubusercontent.com/7ieon/bigData/main/y_train.csv", encoding='euc-kr')
print(x_train.head())
print(x_test.head())
print(y_train.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85
   cust_id       총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수  \
0     3500   70900400  22000000   4050000.0    골프  부산본점    13   1.461538
1     3501  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333
2     3502  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762
3     3503    7594080   5225000         NaN  주방용품  부산본점     5   2.000000
4     3504    1795790   1411200         NaN   수산품  청량리점     3   2.666667

     주말방문비율  구매주기
0  0.789474    26
1  0.369863     3
2  0.083277     3
3  0.000000    47
4  0.125000     8
   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [16]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)

(3500, 10)
(2482, 10)
(3500, 2)

In [17]:
print(x_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None

In [20]:
print(x_train.describe())

           cust_id          총구매액         최대구매액          환불금액         내점일수  \
count  3500.000000  3.500000e+03  3.500000e+03  1.205000e+03  3500.000000
mean   1749.500000  9.191925e+07  1.966424e+07  2.407822e+07    19.253714
std    1010.507298  1.635065e+08  3.199235e+07  4.746453e+07    27.174942
min       0.000000 -5.242152e+07 -2.992000e+06  5.600000e+03     1.000000
25%     874.750000  4.747050e+06  2.875000e+06  2.259000e+06     2.000000
50%    1749.500000  2.822270e+07  9.837000e+06  7.392000e+06     8.000000
75%    2624.250000  1.065079e+08  2.296250e+07  2.412000e+07    25.000000
max    3499.000000  2.323180e+09  7.066290e+08  5.637530e+08   285.000000

           내점당구매건수       주말방문비율         구매주기
count  3500.000000  3500.000000  3500.000000
mean      2.834963     0.307246    20.958286
std       1.912368     0.289752    24.748682
min       1.000000     0.000000     0.000000
25%       1.666667     0.027291     4.000000
50%       2.333333     0.256410    13.000000
75%       3.375000     0.448980    28.000000
max      22.083333     1.000000   166.000000

In [21]:
x_train.describe()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기
count,3500.000000,3.500000e+03,3.500000e+03,1.205000e+03,3500.000000,3500.000000,3500.000000,3500.000000
mean,1749.500000,9.191925e+07,1.966424e+07,2.407822e+07,19.253714,2.834963,0.307246,20.958286
std,1010.507298,1.635065e+08,3.199235e+07,4.746453e+07,27.174942,1.912368,0.289752,24.748682
min,0.000000,-5.242152e+07,-2.992000e+06,5.600000e+03,1.000000,1.000000,0.000000,0.000000
25%,874.750000,4.747050e+06,2.875000e+06,2.259000e+06,2.000000,1.666667,0.027291,4.000000
50%,1749.500000,2.822270e+07,9.837000e+06,7.392000e+06,8.000000,2.333333,0.256410,13.000000
75%,2624.250000,1.065079e+08,2.296250e+07,2.412000e+07,25.000000,3.375000,0.448980,28.000000
max,3499.000000,2.323180e+09,7.066290e+08,5.637530e+08,285.000000,22.083333,1.000000,166.000000

In [22]:
print(x_train.isnull().sum())

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [25]:
x_train['환불금액']=x_train['환불금액'].fillna(0)
print(x_train['환불금액'].isnull().sum())

0

In [26]:
x_test['환불금액']=x_test['환불금액'].fillna(0)
print(x_train['환불금액'].isnull().sum())

0

In [27]:
x_test_cust_id=x_test['cust_id']

In [28]:
x_train=x_train.drop(columns=['cust_id'])
x_test=x_test.drop(columns=['cust_id'])
y_train=y_train.drop(columns=['cust_id'])

In [29]:
x_train

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,3197000,1639000,0.0,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,16077620,4935000,0.0,기타,광주점,18,2.444444,0.318182,16
4,29050000,24000000,0.0,보석,본 점,2,1.500000,0.000000,85
...,...,...,...,...,...,...,...,...,...
3495,3175200,3042900,0.0,골프,본 점,1,2.000000,1.000000,0
3496,29628600,7200000,6049600.0,시티웨어,부산본점,8,1.625000,0.461538,40
3497,75000,75000,0.0,주방용품,창원점,1,1.000000,0.000000,0
3498,1875000,1000000,0.0,화장품,본 점,2,1.000000,0.000000,39
3499,263101550,34632000,5973000.0,기타,본 점,38,2.421053,0.467391,8

In [30]:
x_test

,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,7594080,5225000,0.0,주방용품,부산본점,5,2.000000,0.000000,47
4,1795790,1411200,0.0,수산품,청량리점,3,2.666667,0.125000,8
...,...,...,...,...,...,...,...,...,...
2477,82581500,23976000,0.0,골프,부산본점,8,1.750000,0.642857,40
2478,480000,480000,0.0,섬유잡화,광주점,1,1.000000,0.000000,0
2479,260003790,25750000,0.0,남성 캐주얼,본 점,19,3.736842,0.915493,18
2480,88991520,18120000,0.0,육류,본 점,5,3.600000,0.444444,60
2481,623700,209000,0.0,가공식품,영등포점,2,5.000000,0.000000,31

In [31]:
y_train

      gender
0          0
1          0
2          1
3          1
4          0
...      ...
3495       1
3496       1
3497       0
3498       0
3499       0

[3500 rows x 1 columns]